<div *ngIf="question; else elseBlock">
    <button (click)="overlay = true">
        {{question.id}}
    </button>
    <div class="overlay" *ngIf="overlay" (click) = "overlay = false">
        <div class="popup">
            <img src="{{question.image}}" *ngIf="isImage()">

            <div *ngIf="isAudio()"> 
                <audio  controls src = "{{question.audio}}" > 
                    Your browser does not support the
                    <code>audio</code> element.                  
                </audio>
            </div>
            <p>{{question.question}}</p>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <button></button>
</ng-template>

