<div *ngIf="question; else elseBlock">
    <button (click)="overlay = true">
        {{number}}
    </button>
    <div class="overlay" *ngIf="overlay" (click) = "overlay = false">
        <div class="popup">
            <div *ngIf="isText(question)"  class="center-div">
                <p >{{question.question}}</p>
            </div>
            <div *ngIf="isImage(question)" class="center-div">
                <img src={{question.image}} >
                <p >{{question.question}}</p>
            </div>

            <div *ngIf="isAudio(question)" class="center-div">
                <audio 
                    controls
                    src="{{question.audio}}"> 
                        Your browser does not support the
                        <code>audio</code> element.                  
                </audio>
                <p >{{question.question}}</p>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <button></button>
</ng-template>