button{
    background-color: rgb(141, 156, 219);
    width: 100px;
    height: 100px;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.overlay {
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
}

.overlay .popup {
    position:absolute;
    display: flex;
    align-items: center;
    top: 10%;
    left: 30%;
    width: 40%;
    min-height: 20%;
    max-height: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid black;
    font-size: 40px;
}

.overlay .popup p {
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0 auto;
}

.popup img {
    width: 100%;
}

.popup audio {
    margin: 5%;
    width: 90%;
}

.center-div {
    margin: auto;
    text-align: center;
}