<app-navbar></app-navbar>

<p>
    Сведения о разработчиках<br>
    <br>
    Самарский университет<br>
    <br>
    Институт информатики и кибернетики<br>
    <br>
    Курсовой проект по дисциплине "Программная инженерия"<br>
    по теме : "Автоматизированная система составления сканворда за заданную тему"<br>
    <br>
    Разработчики (студены группы 6415-020302D):<br>
        Кочетков А.В.<br>
        Пирюшов А.С.<br>
        Пирюшов М.С.<br>
        Трофимов М.В.<br>
    <br>
    2022 г.
</p>
<button onClick='location.href="about.html"'>Перейти к сведениям о системе</button>