<div class="login-block">
    
    <div class="input-block">
        <p>Логин</p>
        <input type="text" [(ngModel)] = name>
        <p>Пароль</p>
        <input  type="password"[(ngModel)] = password>
        <p style="color: red;">{{error}}</p>   
    </div>
    <div class="line">
        <button class="up-button" (click)="login()">Войти</button>
        <button class="up-button" (click)="register()">Зарегестрироваться</button>
    </div>
    <a class="guest" (click)="loginGuest()">Зайти как гость</a>
    <a class="guest" href="http://localhost:3000">Зайти как админ</a>
</div>