<div class="login-block" *ngIf="type; else elseBlock">
    <div class="line">
        <button class="up-button-active">Войти</button>
        <button class="up-button" (click)="type = false">Зарегестрироваться</button>
    </div>
    <div class="input-block">
        <p>Логин</p>
        <input type="text" [(ngModel)] = name>
        <p>Пароль</p>
        <input type="text" [(ngModel)] = password>
        <div>
            <button class="ok-button" (click)="login()">Войти</button>
        </div>        
    </div>
</div>

<ng-template #elseBlock>
    <div class="login-block">
        <div class="line">
            <button class="up-button" (click)="type = true">Войти</button>
            <button class="up-button-active">Зарегестрироваться</button>
        </div>
        <div class="input-block">
            <p>Логин</p>
            <input type="text" [(ngModel)] = name>
            <p>Пароль</p>
            <input type="text" [(ngModel)] = password>
            <div>
                <button class="ok-button" (click)="register()">Зарегестрироваться</button>
            </div>        
        </div>
    </div>    
</ng-template>