<div class="board" *ngIf="text">
    <div class="line" *ngFor="let line of text; index as i">
        <div *ngFor="let symbol of text0; index as j" class ="cell">
            <input type="text" maxlength="1" [(ngModel)]="text[i][j]" class = "in" *ngIf="!text[i][j].startsWith('+'); else elseBlock">
            <ng-template #elseBlock>
               <app-question-button [number] = getNumber(text[i][j]) [question]=getQuestion(getNumber(text[i][j])) *ngIf="!(text[i][j].length == 1); else elseBlock2"></app-question-button>   
               <ng-template #elseBlock2>
                   <div class="empty"></div>
               </ng-template>         
            </ng-template>
        </div>
    </div>
</div>