.grid {
    display: grid;

}

.cell  {
    border: 1px solid black;
} 

.cell:empty {
    background-color: rgb(77, 107, 228);;
}

.cell input {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.cell .current {
    background-color: rgb(213, 236, 113);
}

.cell .question-button {
    background-color: rgb(141, 156, 219);
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.overlay {
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
}

.overlay .popup {
    position:absolute;
    display: flex;
    align-items: center;
    top: 10%;
    left: 30%;
    width: 40%;
    min-height: 20%;
    max-height: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid black;
    font-size: 40px;
}

.overlay .popup p {
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0 auto;
}

.popup img {
    width: 100%;
}

.popup audio {
    margin: 5%;
    width: 90%;
}

.popup .center-div {
    margin: auto;
    text-align: center;
}


.check-button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(0, 25, 126);
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
}

.horizontal-block {
    display: flex;
}

.horizontal-block  p{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 25, 126);
}

.horizontal-container {
    display: flex;
    margin-left: 200px;
}


.button-container {
    margin-left: 100px;
    width: 300px;
    
}
.hint-button {
    width: 300px;
    height: 100px;
    background-color: rgb(0, 25, 126);
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.button-container p {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 25, 126);
}

#hint {
    margin-top: 250px;
}